/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */





/* ////

testing styles

//// */

.planet-details {
  color:#4c7f8e;
  height: 100px;
  width: 200px;
  margin-top: -300px;
  margin-left: 300px;
  
}

.planet-button{
  background-color: #4c7f8e;
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 150px;
  height: 40px;

}


.planet-button:hover {  
  color: coral;
}


