/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */





/* ////

testing styles

//// */

.planet-details {
  color:#4c7f8e;
  height: 100px;
  width: 200px;
  margin-top: -300px;
  margin-left: 300px;
  
}

.planet-button{
  background-color: #4c7f8e;
  display: flex;
  flex-direction: row;
  z-index: 1;
  width: 150px;
  height: 40px;

}


.planet-button:hover {  
  color: coral;
}

.nav-bar div{
  
  
  width: 150px;
  height: 40px;
  background-color: #4c7f8e;
  color: white;
  font-size: large;
  text-decoration: none;
  
}

.nav-bar{
  margin-top: 797px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
}

.api{
color: white;
height: 230px;
width: 300px;
margin-top: -600px;

}
.api span{
  font-size: 15px;
  color:coral
}


.about-us{
  color: white;
  height: 230px;
  width: 300px;
  margin-top: -600px;
  
  }
  .about-us span{
    font-size: 15px;
    color:coral
  }

  
.form{
  color: white;
  height: 230px;
  width: 300px;
  margin-top: -700px;
  
  }